<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <title>Encurtador</title>
  </head>
  <body>
    <main class="container">
      <h1>Encurtador de URL</h1>
      <form action="/short-url" method="POST" class="my-4 form-inline">
        <label for="full-url" class="sr-only">URL</label>
        <input
          id="full-url"
          name="fullUrl"
          type="url"
          placeholder="URL"
          class="col form-control mr-2"
          required
        />
        <button class="btn btn-success">Encurtar</button>
      </form>
      <section class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>URL Completa</th>
              <th>URL Curta</th>
              <th>Clicks</th>
            </tr>
          </thead>
          <tbody>
            <% shortUrls.forEach(url=> { %>
            <tr>
              <td>
                <a href="<%= url.full %>"><%= url.full %></a>
              </td>
              <td>
                <a href="<%= url.short %>"><%= url.short %></a>
              </td>
              <td><%= url.clicks %></td>
            </tr>
            <%}); %>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
